:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #fff;
  --secondary-backgound: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: initial;
}

body {
  background-color: #e5e5e5;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px 1px 1px 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.container {
  width: 1230px;
  padding-left: 15px;
  padding-right: 15px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
}
/* logo */
.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
}
.logo-first {
  color: #2196f3;
}
.logo-second-header {
  color: #000000;
}
.logo-second-footer {
  color: #ffffff;
}
/* page header */

.page-header {
}

/* site nav */
.site-nav {
  display: flex;
}
.site-nav .item {
  margin-right: 50px;
}
.site-nav .item:last-child {
  margin-right: 0;
}
.site-nav a {
  color: #212121;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.site-nav a:hover,
.site-nav a:focus {
  color: var(--accent-color);
}
.site-nav.list.address > a {
  margin-bottom: 9px;
}
.site-nav .link.current {
  color: var(--accent-color);
}
.contacts a {
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.contacts a:hover,
.contacts a:focus {
  color: var(--accent-color);
}
/* hero */
.hero {
  text-align: center;
  outline: 2px solid tomato;
}
.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: #ffffff;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}
/* button */
.button {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 32px;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-family: Roboto;
  min-width: 200px;
}
.button.filter {
  background-color: var(--secondary-backgound);
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  font-family: Roboto;
  padding: 6px 22px;
}
.button.filter:hover,
.button.filter:focus {
  background-color: #2196f3;
  color: var(--primary-white-color);
}
/* section */
.section {
  outline: 2px solid tomato;
  margin-top: 94px;
  margin-bottom: 94px;
}
.section.team {
  padding-top: 94px;
  padding-bottom: 94px;
  margin-bottom: 0;
}
.title {
  margin-top: 0;
  margin-bottom: 10px;
}
.section-title {
  margin-top: 0;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
/* skills */
.skills .title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}
.necessary-skills {
  font-size: 14px;
  line-height: 1.71;
}
.skills p {
  margin-top: 0;
  margin-bottom: 0;
}
/* team */
.team-about {
  font-size: 16px;
  line-height: 1.19;
}
.list-title {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.team.list img {
  margin-bottom: 30px;
}
.team.list h3 {
  margin-bottom: 10px;
}
/* footer nav */
.address-text {
  color: #ffffff;
  font-style: normal;
  margin-top: 20px;
  margin-bottom: 9px;
}
.address a {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 9px;
}
.address a:hover,
.address a:focus {
  color: var(--accent-color);
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
/* portfolio */
.list-title-portfolio {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}
.portfolio-about {
  font-size: 16px;
  line-height: 1.87;
}
.section.portfolio {
  margin-bottom: 94px;
}
.filter.list {
  margin-bottom: 50px;
}
.portfolio.list img {
  margin-bottom: 20px;
}
.portfolio.list h3 {
  margin-top: 0;
  margin-bottom: 4px;
}
.portfolio.list p {
  margin-top: 0;
  margin-bottom: 0;
}
